.map__ts select,body{font-family:Montserrat}.map__logo,.map__weather{opacity:.8;z-index:400}.map__logo,.map__weather-min{z-index:400}.button-map,.map__ts select{font-weight:500;text-decoration:none;text-shadow:0 1px 0 #fff;cursor:pointer;display:inline-block}.check01:checked+label::before,.map__red::before{background-color:red}body,html{height:100%;margin:0}.leaflet-container{height:500px;width:100%;max-width:100%;max-height:100%}.leaflet-attribution-flag{display:none;height:0;width:0}#map{-webkit-box-shadow:0 13px 19px rgba(0,0,0,.15);box-shadow:0 13px 19px rgba(0,0,0,.15)}.map__info,.map__legend{z-index:400;position:absolute;background-color:rgba(61,92,153,.7);color:#fff;-webkit-box-shadow:0 13px 19px rgba(0,0,0,.2)}#log{border:1px solid #c6c6c6}#no-results,#resources,#results-table,#unit-refresh-button{display:none}#doubleclick-hint{color:gray}#latlng.invalid{border-color:red}.map__info{width:230px;padding:20px 35px 15px 25px;box-shadow:0 13px 19px rgba(0,0,0,.2)}.map__ts{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.map__ts select{height:30px;width:200px;margin-left:5px;text-align-last:center;box-shadow:inset 0 -1px 0 0 #fff;background:linear-gradient(to bottom,#f9f9f9 5%,#e9e9e9 100%);background-color:#f9f9f9;border-radius:1px;border:1px solid #dcdcdc;color:#3d5c99;font-size:14px}.button-map:active,.map__ts select:active{position:relative;top:1px}.map__black::before,.map__blue::before,.map__green::before,.map__purple::before,.map__red::before{top:30%;left:-30px;width:20px;height:3px;content:''}.map__legend{width:180px;padding:10px 10px 10px 45px;box-shadow:0 13px 19px rgba(0,0,0,.2)}.map__black,.map__blue,.map__green,.map__purple,.map__red{font-size:16px;position:relative}.map__red::before{position:absolute}.map__purple::before{position:absolute;background-color:#9c27b0}.map__blue::before{position:absolute;background-color:#00f}.map__green::before{position:absolute;background-color:#0f9d58}.map__black::before{position:absolute;background-color:#000}.map__logo{position:absolute}.map__weather{position:absolute;-webkit-box-shadow:0 13px 19px rgba(0,0,0,.2);box-shadow:0 13px 19px rgba(0,0,0,.2)}.button-map{margin-top:10px;width:140px;box-shadow:inset 0 -1px 0 0 #fff;background:linear-gradient(to bottom,#f9f9f9 5%,#e9e9e9 100%);background-color:#f9f9f9;border-radius:1px;border:1px solid #dcdcdc;color:#3d5c99;font-size:14px;padding:5px 20px;transition:.3s}.button-map:hover{background:linear-gradient(to bottom,#e9e9e9 5%,#f9f9f9 100%);background-color:#e9e9e9}.map__legend label{cursor:pointer;text-decoration:1px underline transparent;transition:.3s;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s}.map__legend label:hover{text-decoration-color:#fff;-moz-text-decoration-color:#fff}.check{position:absolute;z-index:-1;opacity:0;margin-bottom:1em}.check+label{display:inline-flex;align-items:center;user-select:none}.check+label::before{content:'';display:inline-block;width:1em;height:1em;flex-shrink:0;flex-grow:0;border:1px solid #adb5bd;border-radius:.25em;margin-right:.5em;background-repeat:no-repeat;background-position:center center;background-size:50% 50%}.check:not(:disabled):not(:checked)+label:hover::before{border-color:#b3d7ff}.check:not(:disabled):active+label::before{background-color:#b3d7ff;border-color:#b3d7ff}.check:focus+label::before{box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.check:focus:not(:checked)+label::before{border-color:#80bdff}.check:checked+label::before{border-color:#80bdff;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")}.check02:checked+label::before{background-color:#9c27b0}.check03:checked+label::before{background-color:#00f}.check04:checked+label::before{background-color:#0f9d58}.check05:checked+label::before{background-color:#424242}.check:disabled+label::before{background-color:#e9ecef}@media (max-width:1400px){#map{height:500px}.map__info{top:-250px}.map__legend{top:-480px}.map__weather{display:none}.map__weather-min{display:block;position:absolute;top:-180px;right:15px;-webkit-box-shadow:0 13px 19px rgba(0,0,0,.2);box-shadow:0 13px 19px rgba(0,0,0,.2);opacity:.8}}@media (max-width:992px){.button-map,.map__legend p{display:none}.map__weather-min{top:-540px;right:10px}#map{height:500px}.map__legend{top:-105px;left:10px;width:100px;color:#fff;padding:10px 10px 10px 25px;font-size:10px}.map__black,.map__blue,.map__green,.map__purple,.map__red{font-size:9px}.map__black::before,.map__blue::before,.map__green::before,.map__purple::before,.map__red::before{width:10px;left:-15px}.map__info{font-size:10px;top:20px;left:10px;width:200px;padding:10px}.map__logo{opacity:.8;position:absolute;top:-50px;right:10px}.map__logo img{width:30px}.map__ts select{height:20px;width:150px;margin-left:10px}}@media (max-width:767px){.map__logo img{width:25px}#map{height:500px}}@media (max-width:479px){#map{height:450px}.map__weather-min{top:-560px;right:-20px;transform:scale(.5)}}.map__info,.map__legend,.map__weather{transform:scale(1.4)}.map__text{font-size:20px;color:#3d5c99;font-weight:700;text-align:center}#map{width:100%;height:2600px;position:relative}.map__info{top:600px;left:70px}.map__legend{top:90px;right:70px}.map__weather{top:490px;right:70px}.map__weather-min{display:none}.map__logo{top:2540px;right:20px}.map__logo img{width:50px}@media (max-width:3840px){#map{height:1600px}.map__logo{top:1540px;right:20px}}@media (max-width:2560px){.map__legend,.map__weather{right:40px;transform:scale(1.2)}.map__info,.map__legend,.map__weather{transform:scale(1.2)}#map{height:1000px}.map__info{top:500px;left:40px}.map__legend{top:50px}.map__weather{top:400px}.map__logo{top:940px;right:20px}}@media (max-width:1920px){.map__info,.map__legend,.map__weather{transform:scale(1)}#map{height:700px}.map__info{top:400px;left:15px}.map__legend{top:15px;right:15px}.map__weather{top:310px;right:15px}.map__logo{top:640px;right:15px}.map__logo img{width:50px}}@media (max-width:1400px){#map{height:500px}.map__weather{display:block;top:150px;right:-30px;transform:scale(.6)}.map__info{top:300px;left:-25px;transform:scale(.7)}.map__legend{top:-40px;right:-30px;transform:scale(.6)}.map__logo{top:455px;right:15px}.map__logo img{width:35px}.leaflet-touch .leaflet-bar,.leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-control-layers{font-size:8px}}@media (max-width:992px){.map__weather-min{display:block;top:0;right:0;transform:scale(.7)}.button-map,.map__legend p,.map__weather{display:none}.map__info,.map__legend{left:15px;transform:scale(1)}.map__legend{top:410px;width:100px;color:#fff;padding:10px 10px 10px 25px;font-size:10px}.map__black,.map__blue,.map__green,.map__info,.map__purple,.map__red{font-size:9px}.map__black::before,.map__blue::before,.map__green::before,.map__purple::before,.map__red::before{width:10px;left:-15px}.map__info{top:520px;width:200px;padding:10px}.map__logo{opacity:.8;position:absolute;top:460px;right:15px}.map__logo img{width:30px}.map__ts select{height:20px;width:150px;margin-left:10px}}@media (max-width:767px){.map__logo img{width:25px}#map{height:500px}.leaflet-control-zoom{position:absolute;top:-5px;left:-5px;transform:scale(.8)}}@media (max-width:479px){#map{height:450px}.map__weather-min{top:-10px;right:-25px;transform:scale(.4)}.map__legend{top:360px;left:15px}.map__info{top:470px;left:15px}.map__logo{top:420px;right:15px}.leaflet-touch .leaflet-bar,.leaflet-touch .leaflet-control-attribution,.leaflet-touch .leaflet-control-layers{font-size:6px}}

.geo_arh1, .geo_arh2, .geo_arh3, .geo_arh4, .geo_arh5 {
    position: relative;
}

.geo_arh1::before, .geo_arh2::before, .geo_arh3::before, .geo_arh4::before, .geo_arh5::before {
    position: absolute;
    top: 45%;
    left: -40px;
    content: '';
    width: 15px;
    height: 4px;
  }

.geo_arh1::before {
  background-color: red;
}

.geo_arh2::before {
  background-color: #9c27b0;
}
.geo_arh3::before {
  background-color: #0000ff;
}
.geo_arh4::before {
  background-color: #0f9d58;
}
.geo_arh5::before {
  background-color: #424242;
}

.leaflet-control-layers-list {
  margin: 0;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
}

 
  @media (max-width: 2560px) {
    .leaflet-control-layers-list {
      font-size: 15px;
    }
  }
  
  @media (max-width: 1920px) {
    .leaflet-control-layers-list {
      font-size: 14px;
    }
  }
  
@media (max-width: 1400px) {
  .leaflet-control-layers-list {
    font-size: 12px;
  }
  #map {
    height: 500px;
  }
  .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    font-size: 8px;
  }
  .leaflet-control-zoom, .leaflet-bar {
    display: none;
  }
}
  
@media (max-width: 992px) {
    .leaflet-control-layers, .leaflet-control-layers-list {
        display: none;
    }
  }

.leaflet-control-layers {
  background-color: rgba(255, 255, 255, 0.8);
}

.map__info {
  position: absolute;
  top: -320px;
  left: 20px;
  width: 230px;
  background-color: rgba(61, 92, 153, 0.7);
  padding: 20px 35px 15px 25px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.map__ts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__ts select {
height: 30px;
width: 200px;
margin-left: 5px;
font-family: Montserrat;
text-align-last: center;
box-shadow:inset 0px -1px 0px 0px #ffffff;
background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
background-color:#f9f9f9;
border-radius: 1px;
border:1px solid #dcdcdc;
display:inline-block;
cursor:pointer;
color: rgb(61, 92, 153);
font-weight: 500;
font-size:14px;
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}
  .map__ts select:active {
    position:relative;
    top:1px;
  }

@media (max-width: 1400px) {
  .map__info {
    top: -250px;
  }
}

@media (max-width: 992px) {
    .map__info {
      font-size: 10px;
      top: 20px;
      left: 10px;
      width: 200px;
      padding: 10px;
    }
    .map__ts select {
      height: 20px;
      width: 150px;
      margin-left: 10px;
    }
  }
