@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  font-family: Montserrat;
}

#map {
    width: 100%;
    height: 2600px;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .map__weather {
    position: absolute;
    top: 400px;
    right: 0;
    z-index: 500;
    right: 70px;
    transform: scale(1.4);
  }
  .map__weather-min {
    display: none;
  }
  .map__logo {
    position: absolute;
    z-index: 500;
    top: 2500px;
    right: 20px;
  }
  .map__logo img {
    width: 50px;
  }  
  .leaflet-control-attribution svg {
    width: 0;
    height: 0;
}

.geo_arh1, .geo_arh2, .geo_arh3, .geo_arh4, .geo_arh5 {
    position: relative;
}

.geo_arh1::before, .geo_arh2::before, .geo_arh3::before, .geo_arh4::before, .geo_arh5::before {
    position: absolute;
    top: 45%;
    left: -40px;
    content: '';
    width: 15px;
    height: 4px;
  }

.geo_arh1::before {
  background-color: red;
}

.geo_arh2::before {
  background-color: #9c27b0;
}
.geo_arh3::before {
  background-color: #0000ff;
}
.geo_arh4::before {
  background-color: #0f9d58;
}
.geo_arh5::before {
  background-color: #424242;
}

.leaflet-control-layers-list {
  margin: 0;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
}

  @media (max-width: 3840px) {
    #map {
      height: 1600px;
    }
    .map__logo {
      top: 1540px;
      right: 20px;
    }
  }
  
  @media (max-width: 2560px) {
    .leaflet-control-layers-list {
      font-size: 15px;
    }
    #map {
      height: 1000px;
    }
    .map__weather {
      top: 400px;
      right: 40px;
      transform: scale(1.2);
    }
    .map__logo {
      top: 940px;
      right: 20px;
    }
  }
  
  @media (max-width: 1920px) {
    .leaflet-control-layers-list {
      font-size: 14px;
    }
    #map {
      height: 700px;
    }
    .map__weather {
      top: 310px;
      right: 15px;
      transform: scale(1);
    }
    .map__logo {
      top: 640px;
      right: 15px;
    }
    .map__logo img {
      width: 50px;
    }
  }
  
@media (max-width: 1400px) {
  .leaflet-control-layers-list {
    font-size: 12px;
  }
  #map {
    height: 500px;
  }

  .map__weather {
    display: block;
    top: 150px;
    right: -30px;
    transform: scale(0.6);
  }
  .map__logo {
    top: 455px;
    right: 15px;
  }
  .map__logo img {
    width: 35px;
  }
  .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    font-size: 8px;
  }
  .leaflet-control-zoom, .leaflet-bar {
    display: none;
  }
}
  
@media (max-width: 992px) {
  .map__weather-min {
    display: block;
    position: absolute;
    z-index: 500;
    top: -10px;
    right: -15px;
    transform: scale(0.7);
  }
  .map__weather {
    display: none;
  }
    .map__logo {
      opacity: 0.8;
      position: absolute;
      top: 460px;
      right: 15px;
    }
    
    .map__logo img {
      width: 30px;
    }
    .leaflet-control-layers, .leaflet-control-layers-list {
        display: none;
    }
  }
  @media (max-width: 767px) {
    .map__logo img {
      width: 25px;
    }
    #map {
      height: 500px;
    }
  }
  
  @media (max-width: 479px) {
    #map {
      height: 450px;
    }
    .map__weather-min {
      top: -25px;
      right: -35px;
      transform: scale(0.4);
    }
    .map__logo {
      top: 415px;
      right: 5px;
    }
  }
.leaflet-control-layers {
  background-color: rgba(255, 255, 255, 0.8);
}